html {
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, firldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block
}

audio, video, canvas {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

ol, ul {
    list-style: none
}

ol {
    list-style: decimal
}

ul {
    list-style: disc
}

li {
    margin-left: 30px;
    display: list-item
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    float: none !important
}

table, th, td {
    vertical-align: middle
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ''
}

blockquote, q {
    quotes: "" ""
}

sub, sup, small {
    font-size: 75%
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

b, strong {
    font-weight: bold
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

a img {
    border: 0
}

:focus {
    outline: 0
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle
}

button, input {
    *overflow: visible;
    line-height: normal
}

    button::-moz-focus-inner, input::-moz-focus-inner {
        padding: 0;
        border: 0
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button
    }

html {
    font-size: 100%
}

body {
    font-size: 75%;
    color: #3d4145;
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-senif
}

hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: .5em
}

h2 {
    font-size: 2em;
    margin-bottom: .75em
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em
}

h6 {
    font-size: 1em;
    font-weight: bold
}

p {
    margin: 0 0 1.5em
}

a:link {
    color: #039;
    text-decoration: none
}

a:visited {
    color: #969;
    text-decotation: none
}

a:focus, a:hover {
    color: #f60;
    text-decoration: underline
}

.body {
    margin: 0 auto;
}

body {
    overflow: hidden;
}

input[type=email]:hover, input[type=number]:hover, input[type=password]:hover, input[type=tel]:hover, input[type=text]:hover, input[type=url]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 29px;
    line-height: 25px;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}


.header {
    width: 100%;
    background-color: #10243d;
    border-bottom: 1px solid #dedddd;
    height: 90px;
    z-index: 99999;
}

.naver {
    min-width: 960px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    clear: both
}

.logo {
    float: left;
    margin-top: 21px;
}

    .logo img {
        padding-left: 10px;
        height: 39px;
    }

.naver-left {
    float: left;
    height: 80px;
    line-height: 80px;
    padding-left: 18px;
    font-size: 18px;
    color: #fff;
}

    .naver-left a {
        color: #fff;
        font-size: 18px;
        margin-right: 20px;
    }

        .naver-left a:link {
            color: #fff;
        }

        .naver-left a:visited {
            color: #fff
        }

        .naver-left a:hover {
            color: #e5e5e5;
            text-decoration: none;
        }

.naver-right {
    float: right;
    height: 80px;
    line-height: 80px;
    font-size: 15px;
    color: #e5e5e5;
    text-decoration: none;
}

    .naver-right a {
        color: #e5e5e5;
        margin-right: 20px;
    }

        .naver-right a:link {
            color: #e5e5e5;
        }

        .naver-right a:visited {
            color: #e5e5e5
        }

        .naver-right a:hover {
            color: #fff;
            text-decoration: none;
        }


.header-search {
    float: left;
    line-height: 60px;
    height: 60px;
    margin-left: 20px;
}


.header-search-btn {
    float: left;
    margin: 25px 0px 0px 0px;
    padding: 0px;
    width: 70px;
    border: solid 1px #dedddd;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    color: #8bad00;
    font-size: 15px;
    line-height: 30px;
    background-color: #f7f7f7;
}

    .header-search-btn a:link {
        color: #8bad00;
    }

    .header-search-btn a:visited {
        color: #8bad00
    }

    .header-search-btn a:hover {
        color: #f90
    }


.header-search-txt {
    float: left;
    margin: 25px 0px 0px 0px;
    padding: 0px;
    height: 30px;
    border: none;
}

    .header-search-txt input {
        float: left;
        background-color: #f7f7f7;
        color: #ccc;
        width: 288px;
        border: solid 1px #dedddd;
        height: 28px;
        border-radius: 10px 0px 0px 10px;
        padding-left: 10px;
        font-size: 15px;
        border-right: none;
    }

.page {
    min-width: 960px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 800px;
}

.pagew {
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: scroll;
}

.menu {
    clear: both;
}

    .menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .menu li {
        height: 40px;
        line-height: 40px;
        margin: 0px;
        padding: 0px;
        margin-bottom: 2px;
    }

    .menu a {
        overflow: hidden;
        font-weight: bold;
        color: #555;
        font-size: 15px;
        width: 100px;
        height: 30px;
        line-height: 30px;
        display: block;
        text-align: center;
        border-radius: 5px;
    }

        .menu a:hover {
            text-decoration: none;
            width: 100px;
            background-color: #99cc00;
            height: 30px;
            line-height: 30px;
            display: block;
            color: #fff;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
        }

    .menu .curra {
        width: 100px;
        background-color: #99cc00;
        height: 30px;
        line-height: 30px;
        display: block;
        color: #fff;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

.list {
    padding-left: 130px;
    padding-top: 0px;
}

h1 {
    clear: both;
    margin: 35px 0px 0px 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
    display: block;
}

.footer {
    height: 100px;
    text-align: center;
    padding-top: 10px;
    clear: both;
    width: 100%;
}

.items {
    float: left;
    width: 660px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
}

.item {
    margin: 20px 0px 20px 0px;
    padding: 0px;
    list-style: none;
    width: 680px;
    height: 110px;
    clear: both;
    line-height: 110px;
}

.item-img {
    height: 110px;
    width: 170px;
    line-height: 110px;
    border: solid 1px #ddd;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

    .item-img:hover {
        border: solid 1px #8bad00;
    }

    .item-img img {
        width: 160px;
    }

    .item-img a {
        display: block;
    }

.item-cont {
    float: left;
    padding-left: 15px;
    height: 110px;
    line-height: 30px;
}

    .item-cont h3 {
        margin-bottom: 10px;
        height: 22px;
        width: 460px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item-cont p {
        padding: 0px;
        margin: 0px;
        line-height: 22px;
        color: #999;
    }

    .item-cont a:link {
        color: #8bad00;
        font-size: 20px;
    }

    .item-cont a:visited {
        color: #8bad00
    }

    .item-cont a:hover {
        color: #f90
    }

.infos {
    float: right;
    width: 200px;
    margin: 0px;
    padding: 0px 0px 30px 0px;
}

.infos-title {
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 39px;
}

.infos ul {
    margin: 0px;
    padding: 0px 0px 0px 40px;
    color: #999;
    list-style: none;
}

.infos li {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 22px;
    line-height: 22px;
    width: 200px;
    overflow: hidden;
}

    .infos li a {
        color: #999;
    }

        .infos li a:hover {
            color: #f90;
        }


.desc {
    width: 450px;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.links {
    clear: both;
}

    .links a {
        border-radius: 5px;
        text-decoration: none;
        display: block;
        float: left;
        font-size: 18px;
        font-weight: bold;
        width: 38px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        background-color: #fff;
        border: solid 1px #ddd;
        color: #222;
        margin-right: 15px;
    }

        .links a:hover {
            background-color: #ddd;
            color: #99cc00;
            text-decoration: none;
        }

    .links .curr {
        background-color: #99cc00;
        color: #fff;
        text-decoration: none;
    }

.sites {
    text-align: center;
    clear: both;
    padding-top: 50px;
}

    .sites a {
        text-decoration: none;
        color: #555;
    }

#ContactUs {
    color: #8bad00;
}

.login {
    text-align: center;
    padding-top: 100px;
}

.login-tips {
    font-size: 16px;
    padding-top: 10px;
}


a.leve-1, a.leve-2, a.leve-3 {
    font-size: 13px;
    color: #757575;
    padding-right: 8px;
}

a:hover.leve-1, a:hover.leve-2, a:hover.leve-3 {
    font-size: 13px;
    color: #3089dc;
    text-decoration: none;
}

a.leve-1 {
    height: 28px;
    line-height: 28px;
    margin: 0px;
    padding-left: 15px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.leve-2 {
    height: 28px;
    line-height: 28px;
    margin: 0px;
    padding-left: 29px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.leve-3 {
    height: 28px;
    line-height: 28px;
    margin: 0px;
    padding-left: 43px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



a.leve-1.arrow-1 {
    background: url(../img/arrow11.png) no-repeat center;
    background-size: 6px;
    vertical-align: middle;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 0px;
}

a.leve-1.arrow-2 {
    background: url(../img/arrow22.png) no-repeat center;
    background-size: 11px;
    vertical-align: middle;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 0px;
}



a.leve-2.arrow-1 {
    background: url(../img/arrow11.png) no-repeat center;
    background-size: 6px;
    vertical-align: middle;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 14px;
}

a.leve-2.arrow-2 {
    background: url(../img/arrow22.png) no-repeat center;
    background-size: 11px;
    vertical-align: middle;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 14px;
}



@media all and (min-width:0) {

    a.leve-1.arrow-1 {
        background: url(../img/arrow1.png) no-repeat center;
        background-size: 6px;
        vertical-align: middle;
        -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        background-position-x: 0px;
        background-position-y: 8px;
    }

    a.leve-1.arrow-2 {
        background: url(../img/arrow2.png) no-repeat center;
        background-size: 11px;
        vertical-align: middle;
        -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        background-position-x: 0px;
        background-position-y: 12px;
    }


    a.leve-2.arrow-1 {
        background: url(../img/arrow1.png) no-repeat center;
        background-size: 6px;
        vertical-align: middle;
        -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        background-position-x: 14px;
        background-position-y: 8px;
    }

    a.leve-2.arrow-2 {
        background: url(../img/arrow2.png) no-repeat center;
        background-size: 11px;
        vertical-align: middle;
        -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        background-position-x: 14px;
        background-position-y: 12px;
    }
}

a.leve-1.doc-1 {
    /*background:url(../img/doc1.png) no-repeat center;*/
    background-size: 6px;
    vertical-align: middle;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 2px;
}

a.leve-2.doc-1 {
    /*background:url(../img/doc1.png) no-repeat center;*/
    background-size: 6px;
    vertical-align: middle;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 15px;
}

a.leve-3.doc-1 {
    /*background:url(../img/doc1.png) no-repeat center;*/
    background-size: 6px;
    vertical-align: middle;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 29px;
}


a.leve-1.doc-2 {
    /*background:url(../img/doc2.png) no-repeat center;*/
    background-size: 6px;
    vertical-align: middle;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 2px;
    color: #3089dc;
}

a.leve-2.doc-2 {
    /*background:url(../img/doc2.png) no-repeat center;*/
    background-size: 6px;
    vertical-align: middle;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 15px;
    color: #3089dc;
}

a.leve-3.doc-2 {
    /*background:url(../img/doc2.png) no-repeat center;*/
    background-size: 6px;
    vertical-align: middle;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-position-x: 29px;
    color: #3089dc;
}

a.leve-1.doc-h {
    display: none;
}

a.leve-2.doc-h {
    display: none;
}

a.leve-3.doc-h {
    display: none;
}

a.curr-doc {
    color: #3089dc;
}

a.curr-dir {
    color: #3089dc;
}

.home-menu {
    position: fixed;
    width: 249px;
    background-color: #fff;
    padding-top: 10px;
    font-size: 16px;
    border-right: solid 1px #ddd;
    padding-left: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tree {
    clear: both;
    position: absolute;
    margin-bottom: 50px;
}

.path {
    background-color: #ebebeb;
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-weight: normal;
    height: 10px;
    line-height: 10px;
    border-bottom: solid 1px #ddd;
}



.content-mgt {
    float: left;
    width: 920px;
    min-height: 800px;
    background-color: #fff;
    font-size: 16px;
    padding: 40px 0px 0px 250px;
}

.table1 {
    font-size: 14px;
}



.bar {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 950px;
    height: 30px;
    margin-bottom: 15px;
    padding: 0px 0px 0px 20px;
    font-size: 14px;
}

    .bar div {
        float: left;
        height: 20px;
        padding: 5px 10px 5px 10px;
        margin: 0px;
        border: none;
    }

    .bar .curr {
        background-color: #fff;
        color: #3b7bea;
        border: 1px solid #ddd;
        border-bottom: none;
        -moz-border-radius: 0px 0px 0px 0px; /* Gecko browsers */
        -webkit-border-radius: 0px 0px 0px 0px; /* Webkit browsers */
        border-radius: 0px 0px 0px 0px; /* W3C syntax */
    }

    .bar a:visited {
        color: #666;
    }

    .bar a:hover {
        color: #ff7300;
    }

    .bar a:link {
        color: #666;
    }


.base-table {
    border: solid #e5e5e5 1px;
    font-size: 14px;
}

    .base-table th {
        border: solid #e5e5e5 1px;
        padding: 8px 8px 8px 5px;
        border-right: none;
        border-left: none;
    }

    .base-table td {
        border: solid #e5e5e5 1px;
        padding: 7px 8px 7px 5px;
        border-right: none;
        border-left: none;
    }

    .base-table .title {
        background-color: #e5e5e5;
        font-weight: bold;
    }

    .base-table .trbg {
        background-color: #f1f1f1;
    }

    .base-table tr {
        height: 35px;
    }

    .base-table .listd {
        list-style: none;
        margin: 0px;
    }

        .base-table .listd ul {
            list-style: none;
            margin: 0px;
        }

            .base-table .listd ul li {
                list-style: none;
                margin: 0px;
            }

.page-index {
    width: 978px;
    margin-top: 10px;
}

.page-num {
    float: left;
    width: 180px;
}

.sabrosus {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    MARGIN: 3px;
    PADDING-TOP: 3px;
    text-align: right;
    width: 300px;
    float: right
}

    .sabrosus A {
        BORDER-RIGHT: #9aafe5 1px solid;
        PADDING-RIGHT: 5px;
        BORDER-TOP: #9aafe5 1px solid;
        PADDING-LEFT: 5px;
        PADDING-BOTTOM: 2px;
        BORDER-LEFT: #9aafe5 1px solid;
        COLOR: #2e6ab1;
        MARGIN-RIGHT: 2px;
        PADDING-TOP: 2px;
        BORDER-BOTTOM: #9aafe5 1px solid;
        TEXT-DECORATION: none
    }

        .sabrosus A:hover {
            BORDER-RIGHT: #2b66a5 1px solid;
            BORDER-TOP: #2b66a5 1px solid;
            BORDER-LEFT: #2b66a5 1px solid;
            COLOR: #000;
            BORDER-BOTTOM: #2b66a5 1px solid;
            BACKGROUND-COLOR: lightyellow
        }

.pagination A:active {
    BORDER-RIGHT: #2b66a5 1px solid;
    BORDER-TOP: #2b66a5 1px solid;
    BORDER-LEFT: #2b66a5 1px solid;
    COLOR: #000;
    BORDER-BOTTOM: #2b66a5 1px solid;
    BACKGROUND-COLOR: lightyellow
}

.sabrosus SPAN.current {
    BORDER-RIGHT: navy 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: navy 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: navy 1px solid;
    COLOR: #fff;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: navy 1px solid;
    BACKGROUND-COLOR: #2e6ab1
}

.sabrosus SPAN.disabled {
    BORDER-RIGHT: #929292 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #929292 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #929292 1px solid;
    COLOR: #929292;
    MARGIN-RIGHT: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #929292 1px solid
}


.list-cool {
    width: 100%;
    min-height: 460px;
}

.list-item {
    width: 100%;
    clear: both;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px 10px 0px;
    padding-left: 5px;
    color: #ddd;
}

.list-itemc {
    width: 100%;
    clear: both;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px 10px 0px;
    padding-left: 5px;
    color: #ddd;
}

.list-item:hover {
    border-left: solid 1px #3089dc;
    color: #3089dc;
}

.list-itemc:hover {
    border-left: solid 1px #3089dc;
    color: #3089dc;
}


.list-title {
    padding-left: 5px;
    color: #333
}

a.list-title {
    color: #333
}

.padding-5 {
    padding-left: 5px;
}

.page-body {
    clear: both;
}

.content-detail {
    float: left;
    width: 770px;
    min-height: 800px;
    background-color: #fff;
    padding: 10px 0px 0px 0px;
    margin-left: 295px;
    font-weight: normal;
}

@media screen and (max-width: 1280px) {
    .content-detail {
        float: left;
        width: 700px;
        min-height: 800px;
        background-color: #fff;
        padding: 10px 0px 0px 0px;
        margin-left: 290px;
        font-weight: normal;
    }
}

.content-r {
    width: 215px;
    min-height: 500px;
    margin: 15px 0px 0px 20px;
    float: left;
}

    .content-r a, .content-r div {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    }

        .content-r a img {
            width: 100%;
        }

.content-detail h1 {
    font-size: 20px;
    color: #222;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 12px 0px;
    border-bottom: solid 1px #ebebeb;
    padding-bottom: 18px;
    font-weight: 400;
}

.content-detail h2 {
    font-size: 15px;
    padding: 0px 0px 0px 10px;
    margin: 20px 0px 10px 0px;
    font-weight: bold;
    border-left: solid 4px #3089dc;
    color: #3089dc;
    height: 15px;
    line-height: 15px;
}

.content-detail h3 {
    font-size: 14px;
    padding: 0px 0px 0px 10px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    border-left: solid 2px #3089dc;
    color: #3089dc;
    height: 14px;
    line-height: 14px;
}

.content-detail p {
    line-height: 28px;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
}

.content-detail table {
    margin-top: 15px;
}

    .content-detail table, .content-detail table tr th, .content-detail table tr td {
        border: 1px solid #ddd;
        padding: 5px 2px
    }

.ue-table-interlace-color-single.firstRow th {
    background-color: #f1f1f1;
    padding: 8px 10px;
    font-size: 14px;
}

.ue-table-interlace-color-double td {
    background-color: #fff;
    padding: 6px 10px !important;
    font-size: 14px;
}

.ue-table-interlace-color-single td {
    background-color: #eceff7;
    padding: 6px 10px !important;
    font-size: 14px;
}

.clearfix {
    clear: both;
}

a.btntry {
    border: solid 1px #f90;
    display: inline-block;
    padding: 0px 15px;
    background-color: #f90;
    margin-top: 5px;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 16px;
}

    a.btntry:visited {
        border: solid 1px #f90;
        display: inline-block;
        padding: 0px 15px;
        background-color: #f90;
        margin-top: 5px;
        color: #fff;
        border-radius: 3px;
        margin-right: 10px;
        height: 28px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    a.btntry:hover {
        border: solid 1px #f6a600;
        background-color: #f6a600;
        text-decoration: none;
        color: #fff;
        height: 28px;
        line-height: 28px;
        margin-bottom: 16px;
    }

a.btntryl {
    border: solid 1px #3089dc;
    display: inline-block;
    padding: 0px 15px;
    background-color: #3089dc;
    margin-top: 5px;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 16px;
}

    a.btntryl:visited {
        border: solid 1px #3089dc;
        display: inline-block;
        padding: 0px 15px;
        background-color: #3089dc;
        margin-top: 5px;
        color: #fff;
        border-radius: 3px;
        margin-right: 10px;
        height: 28px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    a.btntryl:hover {
        border: solid 1px #4fa2ef;
        background-color: #4fa2ef;
        text-decoration: none;
        color: #fff;
        height: 28px;
        line-height: 28px;
        margin-bottom: 16px;
    }

.content-detail pre {
    margin-top: 16px;
    margin-bottom: 16px;
}

.content-detail .itxstdemo {
    font-weight: normal;
    margin-bottom: 22px;
}

.content-detail .itxstdemom {
    font-weight: normal;
    margin-top: 22px;
    margin-bottom: 22px;
}

.xst-table table {
    width: 100%;
}

    .xst-table table th {
        text-align: left;
    }

.content-detail .p {
    display: block;
    background: #f8f8f8;
    color: #333;
    padding: 10px 10px;
    border-radius: 6px;
    line-height: 22px;
    border: solid 1px #ddd;
}
